
<header>
  <div class="uk-container uk-container-large">
    <div class="uk-grid">
      <div class="uk-width-1-4">
  <img src="{{ site.url }}/assets/images/logo.png" alt="Sizzling Bubble Gum Logo">
</div>
<div class="uk-width-auto">
  <h1>Sizzling Bubble Gum</h1>
</div>
  </div>
</div>
  <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li><a href="beverage-pairings.html">Beverage Pairings</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
      </div>
  </nav>
</header>
